header {
    grid-column: span 2;
    border-bottom: 4px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    gap: .5rem;
}

header h1 {
    font-size: 4rem;
    font-weight: 750;
    text-shadow: .25rem .25rem .25rem grey;
}

header h2 {
    font-size: 1.5rem;
}

header h2 em {
    font-size: 1.5rem;
}